<div class="container">
    <!--This contains the two navbars split into two. 
        One contains the categories for exercises, the other contains user info -->
    <nav
        class="container-fluid w-screen flex h-12 sm:grid sm:grid-cols-1 bg-slate-600 justify-start sm:flex sm:justify-center lg:flex">
        <div class="navbar">

            <a href="#Weight Lifting">Weight Lifting</a>
            <a href="#HIIT">HIIT</a>
            <a href="#Walking">Walking</a>
            <a href="#Yoga">Yoga</a>

        </div>
    </nav>
    <nav
        class="container-fluid flex w-screen h-12 sm:grid sm:grid-cols-1 bg-slate-300 justify-start sm:flex sm:justify-center lg:flex">
        <div class="navbar2">

            <a href="#Nutrition">Nutrition</a>
            <a href="/Home">Work It Out</a>
        </div>
    </nav>
</div>

<section>
    <div class="picture">
        <div class="picture-text">
            <h1>Work It Out</h1>
        </div>
</section>
<section>
    <div class="flex flex-col h-3/4 border bg-slate-300  ">
        <div class="m-1 h-full col-span-3  grid grid-cols-4 gap-4 p-3">
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Yoga</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>YOGA</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>YOGA</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>YOGA</button>
            </div>
        </div>
    </div>
 <section>

<section>
    <div class="flex flex-col h-3/4 border bg-slate-300  ">
        <div class="m-1 h-full col-span-3  grid grid-cols-4 gap-4 p-3">
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Weight Lifting</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Weight Lifting</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Weight Lifting</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Weight Lifting</button>
            </div>
        </div>
    </div>
 <section>

<section>
    <div class="flex flex-col h-3/4 border bg-slate-300  ">
        <div class="m-1 h-full col-span-3  grid grid-cols-4 gap-4 p-3">
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Walking</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Walking</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Walking</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Walking</button>
            </div>
        </div>
    </div>
 <section>

<section>
    <div class="flex flex-col h-3/4 border bg-slate-300  ">
        <div class="m-1 h-full col-span-3  grid grid-cols-4 gap-4 p-3">
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>HIIT</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>HIIT</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>HIIT</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>HIIT</button>
            </div>
        </div>
    </div>
 <section>