{{#if loggedIn}}
{{else}}
<section>
    <div class="picture">
        <div class="picture-text">
            <h1>Work It Out</h1>
            <button>Sign Up!</button>
        </div>
</section>
{{/if}}


<section>
    <div class="flex flex-col h-3/4 border bg-slate-300">
        <div class="m-1 border border-4 h-full col-span-3  grid grid-cols-4 gap-4 p-3" >
            <div class="workout-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="workout">
              <button>WORKOUTS</button>
            </div>
            <div class="goals-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="goals">
              <button id="program">GOALS</button>
            </div>
            <div class="challenges-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="challenges">
               <button>CHALLENGES</button>
            </div>
             <div class="nutrition-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="nutrition">
                <button>NUTRITION</button>
            </div>
        </div>
    </div>
</section>
<script src="/js/home.js"></script>