<section>
  <div class="diarySection h-0.4 bg-slate-300 m-5">
    <div class="programName">My A C C O U N T</div>
  </div>
  <h3>username: {{info.username}}</h3>
  <h3>email: {{info.email}}</h3>
</section>
