<div id="successful" class="absolute bg-slate-300 border rounded-2xl border-2 p-3">
  
    <p>You have succesfuly created your account.</p>
    <p>An email confirmation has been sent.</p>
    <a href="/">HOME</a>
  
</div>