
<section>
  <div class="diarySection h-0.4 bg-slate-300 m-5">
    <div class="programName">W O R K O U T S</div>
  </div>
</section>


<section>
    <div class="flex flex-col h-3/4 border bg-slate-800  ">
    <div class="workTitle">LET'S GET STARTED!</div>
        <div class="m-1 h-full col-span-3  grid grid-row-1 gap-4 p-3 sm:grid-cols-4">
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Video</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Video</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Video</button>
            </div>
            <div class="yoga-text card border-4 bg-slate-300 rounded-none sm:grid sm:grid-cols-12" id="">
                <button>Video</button>
            </div>
        </div>
    </div>
 <section>