body {
  font-family: "Trirong", serif;
}

.exercises {
  font-size: 50px;
  color: black;
  font-weight: 300;
  text-align: center;
}
.tracker {
  font-size: 50px;
  color: black;
  font-weight: 300;

  text-align: center;
}

.picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/istockphoto-470740114-612x612.jpeg");
  height: 80vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.picture-text {
  text-align: center;
  font-size: 100px;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.picture-text button {
  padding: 10px;
  border-radius: 20px;
  font-size: large;
  background-color: white;
  color: #555;
}

#workout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/6326aa72-196f-4d99-8a44-295b8b355d91.webp");
  height: 68vh;
  min-width: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.workout-text button {
  text-align: center;
  font-size: 40px;
  border: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#goals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/360_F_195778018_I0HZNA0sCNIXKe5ydiXvQXOl6AfbkJGt.jpeg");
  height: 68vh;
  min-width: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#logout {
  margin-top: 9px;
  color: white;
}


.goals-text button {
  text-align: center;
  font-size: 40px;
  border: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#challenges {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/xbreak-workout_602724.jpg.pagespeed.ic.v8byD7su-e.jpg");
  height: 68vh;
  min-width: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.challenges-text button {
  text-align: center;
  font-size: 40px;
  border: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#nutrition {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/ListeningToYourBody_en9d82ec5a7bfe4a9b878d900bcd801308.jpeg");
  height: 68vh;
  min-width: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.programName {
  font-size: 80px;
  text-align: center;
}

.nutrition-text button {
  text-align: center;
  font-size: 40px;
  border: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.goals {
  font-size: 30px;
  text-align: center;
}
.diaryName {
  font-size: 60px;
  text-align: center;
  color: white;
}
.diaryText {
  color: white;
  font-size: 25px;
}
.diaryEntry {
  font-size: 25px;
  color: white;

  margin: auto;
  text-align: center;
}

.navbar2 a {
  padding: 80px;
  margin: 20px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
}

.form {
  font-size: 30px;
}

.loginBtn {
  text-align: center;
  font-size: 20px;
}
.recipeTitle {
  color: white;
  font-size: 30px;
  text-align: center;
}
.workTitle {
  color: white;
  font-size: 30px;
  text-align: center;
}

.goalsBtn {
  text-align: center;
  font-size: 20px;
  width: 100px;
  margin: auto;
}
.signBtn {
  text-align: center;
  font-size: 20px;
}

.BtnSpace {
  padding: 30px;
  margin-left: 90px;
}

.diaryBtn {
  margin-left: 650px;
  margin-top: 15px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin-left: 2%;
  margin-right: 5%;
}

li a {
  color: white;
  display: block;
  padding: 8px;
  /* background-color: #dddddd; */
}

#successful {
margin: 6rem;
padding: 30px;
}

#date, #comments {
  color: black !important;
}

